/*

!src/
!datamanager/
!tests/
!docs/
!.github/
!diffs/
!assets/

!.gitignore
!README.md
!LICENSE
!pyproject.toml
!uv.lock
!.pre-commit-config.yaml
!.python-version
!netlify.toml
!manifest.json
!env.example
!.readthedocs.yaml

# recursively re-ignore
__pycache__
docs/build
*.egg-info
