/*

!src/
!datamanager/
!tests/
!docs/
!.github/

!.gitignore
!README.md
!LICENSE
!pyproject.toml
!uv.lock
!.pre-commit-config.yaml
!.python-version
!netlify.toml
!manifest.json

# recursively re-ignore
__pycache__
